.home {
  text-align: center;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  transition: margin-left 0.3s ease-in-out;
}


.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content.shifted {
  margin-left: 250px;
}

.filter-button {
  background-color: transparent !important;
  color: #09BC8A !important;
  border: 2px solid #09BC8A !important;
  padding: 4px 8px !important;
  cursor: pointer !important;
  z-index: 1000 !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  transition: all 0.3s ease-in-out !important;

  position: fixed !important;
  top: 20px;
  left: 20px;
}

.filter-button:hover {
  background-color: #09BC8A !important;
  color: white !important;
  border-color: #09BC8A !important;
}


.filter-button.shifted {
  left: 270px;
}