.home {
  text-align: center;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content.shifted {
  margin-left: 250px;
}

.filter-button {
  position: absolute;
  top: 102.4px;
  left: 20px;
  background-color: #09BC8A;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 3px;
  transition: left 0.3s ease-in-out;
}

.filter-button.shifted {
  left: 270px;
}