.my-listings {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-listings-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.my-listings-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.my-listings-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.my-listings-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.filter-button {
  position: absolute;
  top: 102.4px;
  left: 20px;
  background-color: #09BC8A;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 3px;
  transition: left 0.3s ease-in-out;
}

.filter-button.shifted {
  left: 270px;
}
